Display a dual axis histogram/line chart
- X axis: months
- Y axis bars: monthly publishing counts
- Y Axis line: monthly covid cases

In [1]:
import pandas as pd
import datetime

In [2]:
# read data from files
papersDF = pd.read_csv('data/Papers.csv', header=0)
covidDF = pd.read_csv('data/covid-19-all.csv', header=0)

Aggregate dataframes

Papers
- Month
- Number published in month

Covid
- Month
- Total cases in month

In [3]:
# format date strings as datetimes
papersDF['Date'] = pd.to_datetime(papersDF['Date'])
papersDF['CreatedDate'] = pd.to_datetime(papersDF['CreatedDate'])

In [4]:
# get rid of most recent and future publications
papersDF = papersDF[papersDF['Date'] <= datetime.datetime(2020, 9, 30)].sort_values('Date')
papersDF.tail()

,PaperId,Rank,Date,ReferenceCount,CitationCount,FamilyId,FamilyRank,CreatedDate
65351,3011512697,23024,2020-09-30,15,0,3011512697,22311,2020-03-23
152534,3011220111,23225,2020-09-30,10,0,3011220111,22181,2020-03-23
158494,3016344096,21237,2020-09-30,17,2,3016344096,20931,2020-04-24
146826,3082522724,21370,2020-09-30,46,0,3082522724,20796,2020-09-08
88120,2609568224,22662,2020-09-30,15,0,2609568224,21156,2017-05-05

In [5]:
# set up columns for aggregation
papersAggDF = papersDF[['PaperId', 'Date']]
papersAggDF.head()

           PaperId       Date
118750  1534585743 2018-09-01
126767  2888191606 2018-09-01
126756  2850121008 2018-09-01
61471   1527154779 2018-09-01
61145   2981776382 2018-09-01

In [49]:
# aggregate monthly publication count
monthlyTotalsDF = papersAggDF.groupby(pd.Grouper(key='Date', freq='M')) \
    .count() \
    .rename(columns={'PaperId':'Paper Count'})
monthlyTotalsDF['Month'] = monthlyTotalsDF.index.month.astype(str) + '/' + monthlyTotalsDF.index.year.astype(str)
monthlyTotalsDF.head(30)

            Paper Count    Month
Date
2018-09-30         5205   9/2018
2018-10-31         4729  10/2018
2018-11-30         3828  11/2018
2018-12-31         4781  12/2018
2019-01-31        13891   1/2019
2019-02-28         4747   2/2019
2019-03-31         5715   3/2019
2019-04-30         5925   4/2019
2019-05-31         6614   5/2019
2019-06-30         7775   6/2019
2019-07-31         6904   7/2019
2019-08-31         4926   8/2019
2019-09-30         5808   9/2019
2019-10-31         6503  10/2019
2019-11-30         5747  11/2019
2019-12-31         6204  12/2019
2020-01-31        12633   1/2020
2020-02-29         7059   2/2020
2020-03-31         6778   3/2020
2020-04-30         6645   4/2020
2020-05-31         6297   5/2020
2020-06-30         7903   6/2020
2020-07-31         7844   7/2020
2020-08-31         6625   8/2020
2020-09-30         2573   9/2020